<!DOCTYPE html>
<html>
<head>
    <title>KingMaker</title>
    <link rel="stylesheet" href="{{ base_url() }}/css/vendor/bootstrap.min.css" media="all"/>
</head>
<body>
{% include("header.twig") %}
{% block body %}

{% endblock %}

<script src="{{ base_url }}/js/vendor/require.js"></script>

{% block scripts %}
{% endblock %}
</body>
</html>